<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"/>
    <script src="javascripts/httprequest.js"></script>
    <script src="javascripts/videolist.js"></script>
    <script src="javascripts/pagination.js"></script>
    <style>
     
      h1{
        text-align: center;
      }

      a {
        text-decoration: none;
      }

      #wrap {
        width: 100%;
        height: 700px;
        margin: 0 auto;
        line-height: 700px;
      }

      header {
        width: 100%;
        height: 100px;
        line-height: 100px;
        margin: 0 auto;
        border: 1px solid #cccccc;
      }

      footer {
        width: 99%;
        height: 70px;
        line-height: 70px;
      }

      section .section_content .section_search {
        width:700px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
      }
  
      section .section_content .section_board{
        width: 700px;
        height: 500px;
        line-height: 500px;
        margin: 0 auto;
        border: 1px solid #cccccc;
        background-color: #f8f8f8;
        overflow-y:auto; 
      }

      section .section_content .section_board li {
        list-style-type: none;
      }

      section .section_content .section_board div {
        height: 30px;
        line-height: 30px;
        float : left;
        border: 1px solid #cccccc;
        background-color: #ffffff;
        margin-top: 1px;
      }

      section .section_content .section_board .title_board {
        width: 320px;
        padding-left : 20px;
        border-right: 0;
        border-left : 5px solid lightblue;
        white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
        font-size: 0.8em;
      }

      section .section_content .section_board .summary_board {
        width: 150px;
        text-align: center;
        border-left: 0; border-right: 0;
      }

      section .section_content .section_board .author_board {
        width: 100px;
        border-left: 0;
        font-size: 0.6em;
      }

      .pagination {
        width: 700px;
        height: 60px;
        line-height: 60px;
        margin: 0 auto;
        margin-top: 20px;
       
      }

      .pagination ul {
        width: 400px;
        height : 40px;
        line-height: 40px;
        margin: 0 auto;
        
      }

      .pagination li a {
        text-decoration: none;
        color:#000000;
        padding: 18px;
        
      }

      .pagination li {
        float:left;
        width: 40px;
        list-style: none;
        line-height: 20px;
        height: 20px;
        text-align: center;
      }

      #section_header > #video {
            display: none;
            height:350px;
            width:700px;
            margin:0 auto;
            line-height: 0;
      }

    </style>
  </head>
  <body>
    <div id="wrap">
      <header>
        <h1>Board</h1>
      </header>

      <nav>

      </nav>

      <section>
        <div class="section_content">
          <div class="section_search">
            <input type="text"/>
            <button>search</button>
          </div>

          <div id="section_header">
            <div id="video">

            </div>
          </div>

          <div class="section_board">
            <ul>
              <li>
                  <div class="title_board"><a href="#">TITLE</a></div>
                  <div class="summary_board">SUMMARY</div>
                  <div class="author_board">AUTHOR</div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <footer>
        <div class="pagination">
          <ul>

          </ul>
        </div>
      </footer>
    </div>
  </body>

  <script>
    window.addEventListener('DOMContentLoaded', function( ) {
      //paintVideoList( httpGetRequest, 'http://localhost:3000/videos' );
      paintVideoList( httpGetRequest, '/videos' );
      paintPageList( 1, 5, 13, httpGetRequest, paintVideoList);

      const search_click = document.querySelector('.section_search > button');
        search_click.addEventListener('click', function(event) {
        const search_txt = document.querySelector('.section_search > input');
        console.dir(search_txt.value);

        httpGetRequest('/videos/'+search_txt.value)
                .then( (result) => {
                  paintVideos(result);
                  const pagination = paintList(1,5,result.search_count);
                  for( let i = 0; i < pagination.length; i++ ) {
                    pagination[i].addEventListener('click', function() {
                      httpGetRequest('/videos/'+search_txt.value+'?page_no='+(i+1)+'&count_per_page=14')
                      .then( (result) => {
                        paintVideos(result);
                      });
                    });
                  }
                });
        });
    });
    
    (function() {
        let toggle = false;
        const content_section = document.querySelector('.section_board');
        console.dir(content_section);
        content_section.addEventListener('click', function(event) {
            const video = document.querySelector('#section_header > #video');
            const target = event.target;
            if( toggle ) {
                video.style.display = 'none';
                while(video.firstChild) {
                    video.removeChild(video.firstChild);
                }
                toggle = false;
            } else {
                video.style.display = 'block';
                toggle = true;
                video.appendChild(make_video_tag(encodeURI(target.innerText+'.mp4')));
                const div = document.createElement('div');
                video.appendChild(div);
            } 
        });
    })();

    function make_video_tag(src) {
        const video = document.createElement('video');
        video.setAttribute('controls', '');
        video.setAttribute('width', '700');
        const source = document.createElement('source');
        source.setAttribute('src', '/videos/'+src);
        source.setAttribute('type', 'video/mp4');
        video.appendChild(source);
        return video;
    }

  </script>
</html>